h1 {
    font-size: 60px;
    color: #000322;
    line-height: 4rem;
    font-family: impact;
    word-spacing: 1.2rem;

}
h2 {
    color: #000322;
}
#main-body {
    margin: 5% 5%;
    color: #000322;
    text-align:left;
    font-size: 1.2rem;
    line-height: 2rem;
}
.organisation-photo {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}
#details {
    margin-top: 20px;
}

#shortlist-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
    color: blue;
}