h1#landing-page {
    font-size: 50px;
    color: #000322;
    font-family: verdana;
}
h2 {
    color: #000322;
}

@media screen and (min-width:500px){
    #search-tool {
        align-self: left;
    }
    #main-body {
        margin: 0% 30% 5% 30%;
        color: #000322;
        text-align:left;
        font-size: 1.2rem;
        line-height: 4rem;
        font-family: monospace;
    }
}
